<!DOCTYPE html>
<html>
<head>
    <title>Fazer Doações</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>Fazer Doações</h1>
        <nav>
            <ul>
                <li><a href="/candidaturas">Listar Candidaturas</a></li>
                <li><a href="/candidaturas/eleitos">Relatório de Candidatos Eleitos</a></li>
                <li><a href="/candidatos/ficha-limpa">Listar Candidatos Ficha Limpa</a></li>
                <li><a href="/delete">Remover Entidade</a></li>
                <li><a href="/inserir">Inserir dados</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="form-container">
            <form method="POST" action="/doacoes">
                <label for="cod_doador">Código do Doador:</label>
                <input type="text" id="cod_doador" name="cod_doador">
                <label for="tipo_doador">Tipo de Doador:</label>
                <select id="tipo_doador" name="tipo_doador">
                    <option value="FÍSICO">Físico</option>
                    <option value="JURÍDICO">Jurídico</option>
                </select>
                <label for="valor">Valor da Doação:</label>
                <input type="number" id="valor" name="valor" step="0.01">
                <button type="submit">Doar</button>
            </form>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 Sistema Eleitoral. Todos os direitos reservados.</p>
        <ul>
            <li><a href="/insert_update">Inserir/Atualizar Dados</a></li>
            <li><a href="/doacoes">Fazer Doações</a></li>
        </ul>
    </footer>
</body>
</html>
